.about__wrap
  min-height 100%
  background white
  color black
  display flex
  flex-direction column

.about__wrap__border
  padding 15px 40px
  word-break break-word

.about__title
  font-weight: 900
  text-transform: uppercase

.about__wrap__text
  font-weight 300
  display flex

.about__wrap__text__wide-screen
  max-width 800px

.about__text__strong-span
  font-weight 900
  text-transform uppercase

.about__footer
  margin-top auto
  color: white
