.homeTablet__header
  width: 100%
  background-size: cover
  height: 500px
  background-position: 50%

.homeTablet__header__container
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 600
  padding-top: 120px
  padding-left: 70px

.homeTablet__header__connect
  font-size: 48px
  line-height: 60px
  color: #fff

.homeTablet__header__action
  font-size: 75px
  line-height: 85px
  color: #fff

.homeTablet__header__buttonRow
  display: flex
  justify-content: flex-start
  flex-direction: row
  align-items: flex-start

.homeTablet__header__button
  min-width: 180px
  font-size: 15px
  line-height: 30px
  margin: 10px
  cursor: pointer

.homeTablet__header__button__signup
  background: $material-toolbar-button-color
  border: none

.homeTablet__header__button__login
  background: initial
  border-color: #fff


.homeTablet__join__container
  width: 100%
  background-color: #fff

.homeTablet__join__container__inner
  display: flex
  flex-direction: row
  align-items: center
  font-weight: 600
  padding: 70px

.homeTablet__join__container__text
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 400

.homeTablet__join__container__text__headline
  font-size: 40px
  line-height: 58px
  color: #000

.homeTablet__join__container__text__body
  font-size: 21px
  line-height: 31px
  color: #000
  font-weight: 300

.homeTablet__join__container__buttons
  display: flex
  justify-content: flex-start
  flex-direction: row
  align-items: flex-start

.homeTablet__join__container__button
  padding: 7px 22px
  min-width: 90px
  font-size: 15px
  line-height: 30px
  margin: 10px
  cursor: pointer

.homeTablet__join__container__button__signup
  background: $material-toolbar-button-color
  border: none

.homeTablet__join__container__button__login
  background: initial
  color: $material-toolbar-button-color
  border-color: $material-toolbar-button-color

.homeTablet__join__image
  width: 100%
  background-size: cover
  height: 400px
  background-repeat: no-repeat
  background-position: 50%


.homeTablet__stayConnected__container
  width: 100%
  background-color: #e5e5e5
  min-height: 400px
  padding-top: 30px
  display: flex
  justify-content: center
  flex-direction: row

.homeTablet__stayConnected__image
  display: flex
  flex-direction: row
  align-items: flex-end
  justify-content: flex-end
  font-weight: 600
  width: 100%
  min-height: 330px

.homeTablet__stayConnected__text
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 600

.homeTablet__stayConnected__text__headline
  margin-bottom: 5px
  font-size: 40px
  line-height: 45px
  color: $material-background-color

.homeTablet__stayConnected__text__body
  font-weight: 400
  margin-top: 15px
  margin-bottom: 20px
  font-size: 18px
  line-height: 25px
  color: $material-background-color
  width: 85%

.homeTablet__stayConnected__imgButtons
  display: flex
  width: 100%
  justify-content: flex-start
  flex-direction: column
  align-items: flex-start
  padding-top: 5px
  padding-bottom: 5px

.homeTablet__stayConnected__imgButton
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 600
  margin-top: 15px
  margin-bottom: 15px

.homeTablet__stayConnected__imgButton__inner
  font-size: 12px
  line-height: 16px
  color: #fff
  margin: 5px


.homeTablet__recentActivity
  width: 100%
  background-color: #434343
  background-size: cover

.homeTablet__recentActivity__container
  padding: 70px 0

.homeTablet__recentActivity__container__column
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 600
  padding: 30px

.homeTablet__recentActivity__container__column__headline
  margin-bottom: 20px
  font-size: 25px
  line-height: 30px
  color: #fff
  height: calc(100px - 5vw)
  min-height: 30px

.homeTablet__recentActivity__container__column__body
  border-bottom: 1px solid #a7a7a7
  border-top: 1px solid #a7a7a7
  display: flex
  width: 100%
  justify-content: flex-start
  flex-direction: row
  align-items: flex-start
  padding-top: 5px
  padding-bottom: 5px

.homeTablet__recentActivity__container__column__body__left
  margin-right: 30px
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 600
  margin-top: 15px
  margin-bottom: 15px

.homeTablet__recentActivity__container__column__body__right
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 600
  margin-top: 15px
  margin-bottom: 15px

.homeTablet__recentActivity__container__column__body__text
  font-size: 12px
  line-height: 16px
  color: #fff
  margin: 5px

.homeTablet__recentActivity__container__column__body__text__date
  color: #b2b2b2


.homeTablet__getConnected
  width: 100%
  background: $material-toolbar-button-color
  padding: 60px 0

.homeTablet__getConnected__container
  display: flex
  justify-content: space-around
  flex-direction: row
  align-items: center
  padding-right: 30px

.homeTablet__getConnected__text
  font-size: 30px
  line-height: 45px
  color: #fff
  text-align: center
  margin-left: 10px

.homeTablet__getConnected__button
  background: $material-button-text-color
  color: $material-toolbar-button-color
  border-color: $material-toolbar-button-color

.homeMobile__header
  width: 100%
  background-size: cover
  background-position: 50%
  min-height: calc(100vh - 44px)
  display: flex

.homeMobile__header__container
  display: flex
  flex-direction: column
  align-items: center
  font-weight: 600
  margin: auto
  text-align: center

.homeMobile__header__buttonCol
  display: flex
  justify-content: flex-start
  flex-direction: column
  align-items: flex-start

.homeMobile__join__container
  // width: 100%
  background-color: #e1e1e1

.homeMobile__join__container__text
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 400

.homeMobile__join__container__text__headline
  font-size: 35px
  line-height: 48px
  color: #000
  text-align: center
  padding-top: 10px

.homeMobile__join__container__text__body
  font-size: 21px
  line-height: 31px
  color: #000
  font-weight: 300
  padding: 20px

.homeMobile__join__container__buttons
  display: flex
  justify-content: flex-start
  flex-direction: row
  align-items: flex-start
  padding-bottom: 10px
  margin: auto


.homeMobile__recentActivity__container
  padding: 20px 0

.homeMobile__recentActivity__container__column__headline
  font-size: 25px
  line-height: 30px
  color: #fff
  margin: auto;
  margin-bottom: 20px
  text-align: center

.homeMobile__recentActivity__container__column__body
  border-bottom: 1px solid #a7a7a7
  border-top: 1px solid #a7a7a7
  display: flex
  margin: 0 auto
  justify-content: center
  flex-direction: row
  align-items: center
  padding-top: 5px
  padding-bottom: 5px

.homeMobile__recentActivity__container__column__body__right
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 600
  margin-top: 15px
  margin-bottom: 15px
  width: 50%

.homeMobile__recentActivity__container__column__body__left
  // margin-right: 30px
  display: flex
  flex-direction: column
  align-items: flex-start
  font-weight: 600
  margin-top: 15px
  margin-bottom: 15px
  width: 50%

.homeMobile__getConnected__container
  display: flex
  justify-content: space-around
  flex-direction: column
  align-items: center

.homeMobile__getConnected__text
  font-size: 30px
  line-height: 45px
  color: #fff
  text-align: center

.homeMobile__stayConnected__container
  width: 100%
  background-color: #e5e5e5
  min-height: 400px
  padding-top: 30px
  display: flex
  justify-content: center
  flex-direction: column

.homeMobile__stayConnected__text
  display: flex
  flex-direction: column
  align-items: center
  font-weight: 600

.homeMobile__stayConnected__image
  display: flex
  flex-direction: row
  align-items: flex-end
  justify-content: center
  font-weight: 600
  width: 100%
  min-height: 330px

.homeMobile__stayConnected__text__headline
  margin-bottom: 5px
  font-size: 40px
  line-height: 45px
  color: $material-background-color
  text-align: center

.homeMobile__stayConnected__imgButtons
  display: flex
  width: 100%
  justify-content: center
  flex-direction: column
  align-items: center
