.itemWithIcon__container
  display flex
  flex-direction column
  align-items center
  font-size 12px
  margin 10px 5px 10px 5px
  padding-top 5px
  padding-bottom 5px
  justify-content center
.icon__font
  font-size: 20px
  padding-top 10px
  padding-bottom 10px
