.notifications__container
  width: 100%
  display: flex
  flex-direction: column
  // align-items: center
  font-weight: 600

.notifications__header
  font-size: 48px
  line-height: 60px
  color: #fff
  background: $tabbar-background-color
  text-align: center
  margin: auto 0
  padding: 15px 0

.notifications__list__item__col
  justifyContent: center
  display: flex

.notifications__list__item__col__text
  text-align: center
  vertical-align: middle

.notifications__body__save-button
  margin: 0 0 0 auto
//  &:hover
//    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.5)
//  &:active
//    background-color: $material-dialog-background-color

.notifications__premium
  display: flex
  align-items: center

.notifications__premium__title
  font-size: 20px
  padding: 0 15px

.notifications__button
  font-size: 15px
  line-height: 30px
  margin: 10px 10px 10px auto
  background: #8f1922
  border: none

.notifications__footer
  min-height: 150px
  display: flex
  flex-direction: column
  background-color: $list-header-background-color

.notifications__footer__title
  margin: 0 auto
  font-size: 20px
