.panel__page__close
  display flex
  flex-direction row-reverse
  margin-right 15px
  font-size 11px
  margin-top 20px
  font-weight 600

.list.panel__list
  border none

.panel__listItem
  margin-left 15px
  min-height 26px
  padding 2px 6px 2px 0
  font-weight 600