.profile__required
   color: #474747
   margin: 0px 15px
   font-size: 13px

.profile__required__text
   color: $notification-background-color
   padding-right: 2px

.profile__input__first-child
  margin: 5px 14px 0px 13px

.profile__input__child
  margin: 13px 14px 0px 13px

.profile__input__child__small
  margin: 0px 14px 2px 13px

.profile__red-label
  color: $notification-background-color
  padding-right: 2px
  position: absolute
  left: 6px

.profile__image
  width: 100%
  background-size: cover
  background-position: 50%
  background-repeat: no-repeat
  height: 30vmin
  min-height: 115px

.profile__sex__list
  border: none

.profile__sex__list-item
  box-shadow: inherit
  background-image: inherit
  border: none
  padding: initial


.profile__sex__list-item__label
  padding: 0 7px 0 0
  margin: 0
  box-shadow: inherit
  background-image: inherit
  border: none
  min-height: 20px

.profile__sex__list-item__label__input
  margin-top: 6px


.profile__sex__list-item__label__text
  padding: 0
  margin: 0
  border: none
  overflow: hidden
  white-space: nowrap
  box-shadow: inherit
  background-image: inherit
  min-height: 20px

.profile__sex__list-item__label__text__input
  font-size: 14px
  overflow: hidden
  text-overflow: ellipsis
  color: $material-radio-button-inactive-color

.profile__location__row
  height: 76px

.profile__col
  display: flex

.profile__col__content-center
  margin: auto

.profile__input__wide
  width: 100%

.profile__input__textarea
  // color: $material-text-input-inactive-color
  // position: absolute
  // left: 0px
  // top: 2px
  font-size: 16px
  font-weight: 400
  font-family: 'Roboto', 'Noto', sans-serif
  // pointer-events: none
  &::-webkit-input-placeholder
    color: $material-text-input-inactive-color
  &::-moz-placeholder
    color: $material-text-input-inactive-color
