.input__item__custom .text-input--material__label--active
  display none

.input__item__custom .text-input--material__label
  transform translate3d(0, 0, 0)
  -webkit-transform translate3d(0, 0, 0)
  font-size 12px
  z-index 991
  overflow hidden
  width 100%
  text-overflow ellipsis
  padding-left 5px;
  padding-top 3px;

.wrap__border
  padding 15px
  border 0 solid #D1D1D1
  margin 0

.onsen__button .button
  //background-color #999999
  padding 4px 25px;
  font-weight 500;
  margin-top: 15px;

.title__head__text
  font-weight 500;
  color #999999
  margin-top 20px
  margin-bottom 20px;
  font-size 18px

.title__small__text
  margin-left 5px
  margin-right 5px
  margin-top 20px
  margin-bottom 20px;
  font-weight 500;
  color #999999
  font-size 13px

.title__reg
  color #999999
  font-weight 500;
  margin-bottom 5px;
  margin-top 25px;


.title__reg__text
  font-size 18px
//display flex
//flex-direction row
//align-items center

.title__reg__text_or
  font-size 16px

.wrap__submit__small
  display flex
  flex-direction column
  margin-bottom 4px
  align-content center
  align-items center
  justify-content center
  margin-top 55px

.wrap__submit
  display flex
  flex-direction column-reverse
  margin-bottom 4px
  margin-left 10px
  margin-right 5px;

.label__checkbox__text input[type="checkbox"]
  margin-right 10px

.label__checkbox__text
  padding-left 10px
  font-size 14px
  color #999999
  font-weight 400;

.wrap__inline__seporator__col
  height 15px

.wrap__inline__seporator__col-wide
  height 30px

.wrap__inline__seporator__row
  width 15px

.wrap__regForm
  display flex
  flex-direction col

.wrap__inline__input
  display flex
  flex-direction row

.input__item__custom
  width 100%
  margin 5px

.input__item__custom input
  background #e9e9e9
  padding 5px
  font-size 12px
  border-bottom 0

.list__item__subtitle
  opacity 1
  color #6b6b6b
  font-size 12px