.sectionItemContainer
  margin 7px 10px 7px 10px
  background rgba(0,0,0,0.25)
  padding 3px
.sectionItemList:first-child
  box-shadow inherit
  border inherit
  background-image inherit
.sectionItemList
  box-shadow inherit
  border inherit
  background-image inherit
  padding initial
.left.sectionItemList__left
  padding 12px 8px 12px 0
  box-shadow inherit
  border inherit
  background-image inherit
.sectionItemList__left__icon
  margin-right 10px
  margin-left 10px
.center.sectionItemList__center
  padding 12px 6px 12px 6px
  overflow hidden
  white-space nowrap
  box-shadow inherit
  border inherit
  background-image inherit
.sectionItemList__center__title
  font-size 16px
  overflow hidden
  text-overflow ellipsis
.sectionItemList__center__label
  font-size 14px
  color #7c7c7c
  overflow hidden
  text-overflow ellipsis
.right.sectionItemList__right
  box-shadow inherit
  border inherit
  background-image inherit
  padding: 12px 0 12px 0
.sectionItemList__right__iconBlock
  margin-right 2px
  width 28px
  height 28px
  border-radius 50%
  display flex
  justify-content center
  align-items center
.sectionItemList__right__icon
  transform scale(1.2)
.sectionItemList__left.list__item__left.list__item--material__left
  min-width 0