.sectionContainer
  margin 7px 10px 7px 10px
  padding 3px
.sectionItem:first-child
  box-shadow inherit
  border inherit
  background-image inherit
.sectionItem
  box-shadow inherit
  border inherit
  background-image inherit
  padding initial
.left.sectionItem__left
  padding 6px 0 6px 0
  box-shadow inherit
  border inherit
  background-image inherit
.sectionItem__left__icon
  margin-right 10px
  margin-left 10px
.center.sectionItem__center
  padding 6px 6px 6px 0
  overflow hidden
  white-space nowrap
  box-shadow inherit
  border inherit
  background-image inherit
.sectionItem__center__inner
  width 100%
.sectionItem__center__inner__title
  font-size 16px
  overflow hidden
  text-overflow ellipsis
.right.sectionItem__right
  box-shadow inherit
  border inherit
  background-image: inherit
  padding 6px 0 6px 0
.sectionItem__right__inner
  background-color #9e1c26
  margin-right 2px
  width 28px
  height 28px
  border-radius 50%
  display flex
  justify-content center
  align-items center
.sectionItem__right__icon
  transform scale(1.2)
.sectionItem__left.list__item__left.list__item--material__left
  min-width 0