.openShoppingCartItem
  &:after
    content: ''
    display: block
    position: absolute
    border: 8px solid transparent
    border-bottom-color: $material-button-background-color
    bottom: 70px
    left: 35px
