.navbar-toolbar__conversation__style__image
  width 44px
  height 44px
  min-width 44px
  background-repeat no-repeat
  background-position center
  background-size contain
  border-radius 50%
  margin auto 0
.navbar-toolbar__conversation__style__center
  display flex
  flex-direction column
  height 44px
  margin auto 5px
.navbar-toolbar__conversation__style__center__text
  height 22px
  font-size 17px
  line-height 22px
.navbar__centerLogo
  display flex
  flex-direction row
  justify-content center
  align-self center
  align-items center
.navbar-toolbar__conversation__container
  display flex
  flex-direction row
.navigation-bar.navbar-toolbar__langingMobilePage__style + .page__background + .page__content
  margin-top -1px

.navbar-toolbar__langingMobilePage__style
  background-color rgba(0,0,0,0.35)
  display flex
  flex-direction row
  align-items center

.navigation-bar.navbar-toolbar__langingPage__style + .page__background + .page__content
  margin-top -1px
  top 88px

.navbar-toolbar__langingPage__style
  background-color rgba(0,0,0,0.35)
  height 88px
  display flex
  flex-direction row
  align-items center

.navbar-toolbar__style
  background-color #9e1c26

.navbar__toolbarbutton
  color #fff

.navbar__centerLogo__loggedIn
  color #fff

.navbar__centerLogo__loggedOut
  color #fff

.navbar-toolbar__loggedIn
  background-color #9e1c26

.navbar-toolbar__loggedOut
  background-color rgba(0,0,0,0.35)

input[type=radio] {
  margin 0
}
